_site
.sass-cache
.DS_Store
*.sublime-project
*.sublime-workspace
codekit-config.json
node_modules
_asset_bundler_cache


public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix